*
!*.enc
!.git*
!*.yml
!*Makefile
!*.sublime-project
!*.md
!Cargo.toml
!rustfmt.toml
!build.rs
!LICENSE
!src
!src/**
!ext
!ext/**
!tests
!tests/**
!test-data
!test-data/**
!assets
!assets/**
!examples
!examples/**
